.card {
  margin-left: 0;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
}

.student-card {
  height: 185px;
  background-color: #5e35b1;
  border-radius: 10px;
  display: flex;
  position: relative;
  overflow: hidden;

  .backCircle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgb(69, 39, 160);
    border-radius: 50%;
    top: -85px;
    right: -95px;
  }

  .frontCirle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgb(69, 39, 160);
    border-radius: 50%;
    top: -125px;
    right: -15px;
    opacity: 0.5;
  }

  .left {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: #b39ddb;
    }

    .counter {
      font-size: 38px;
      font-weight: 600;
      color: #fff;
    }

    .icon {
      width: 40px;
      height: 40px;
      font-size: 15px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #4527a0;
      color: #fff;
    }
  }
}

.teacher-card {
  height: 185px;
  background-color: #1e88e5;
  position: relative;
  overflow: hidden;

  .backCircle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: #1565c0;
    border-radius: 50%;
    top: -85px;
    right: -95px;
  }

  .frontCirle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: #1565c0;
    border-radius: 50%;
    top: -125px;
    right: -15px;
    opacity: 0.5;
  }

  .left {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: #90caf9;
    }

    .counter {
      font-size: 38px;
      font-weight: 600;
      color: #fff;
    }

    .icon {
      width: 40px;
      height: 40px;
      font-size: 15px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #1565c0;
      color: #fff;
    }
  }
}

.male-student-card {
  height: 80px;
  background-color: #1e88e5;
  display: flex;
  position: relative;
  overflow: hidden;

  .backCircle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(
      140.9deg,
      rgb(144, 202, 249) -14.02%,
      rgba(144, 202, 249, 0) 77.58%
    );
    border-radius: 50%;
    top: -160px;
    right: -130px;
  }

  .frontCirle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(
      210.04deg,
      rgb(144, 202, 249) -50.94%,
      rgba(144, 202, 249, 0) 83.49%
    );
    border-radius: 50%;
    top: -30px;
    right: -180px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    margin-top: 7px;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: #90caf9;
    }

    .counter {
      font-size: 28px;
      font-weight: 550;
      color: #fff;
    }

    .icon {
      width: 40px;
      height: 40px;
      font-size: 15px;
      padding: 10px;
      margin-top: 15px;
      margin-right: 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #1565c0;
      color: #fff;
    }
  }
}

.female-student-card {
  height: 80px;
  background-color: #fff;
  display: flex;
  position: relative;
  overflow: hidden;

  .backCircle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(
      140.9deg,
      rgb(255, 193, 7) -14.02%,
      rgba(144, 202, 249, 0) 70.5%
    );
    border-radius: 50%;
    top: -160px;
    right: -130px;
  }

  .frontCirle {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(
      210.04deg,
      rgb(255, 193, 7) -50.94%,
      rgba(144, 202, 249, 0) 83.49%
    );
    border-radius: 50%;
    top: -30px;
    right: -180px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    margin-top: 7px;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: #838080;
    }

    .counter {
      font-size: 28px;
      font-weight: 500;
      color: #000;
    }

    .icon {
      width: 40px;
      height: 40px;
      font-size: 15px;
      padding: 10px;
      margin-top: 11px;
      margin-right: 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #fff8e1;
      color: #ffc822;
    }
  }
}
