@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;

  background: linear-gradient(to bottom, transparent, rgb(238, 242, 246))
    rgb(238, 242, 246);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
}

/* For Firefox */
/* Note: The scrollbarWidth property is not supported in Firefox */
/* We set the width to 'thin' for Firefox */
::-moz-scrollbar {
  width: thin;
}

/* For IE and Edge */
/* Note: The -ms-overflow-style property is not supported in Edge */
/* We use scrollbar-width: none to hide the scrollbar in Edge */
@supports (-ms-overflow-style: none) {
  aside {
    scrollbar-width: none;
  }
}
